---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
    <main>
        <HeroSection />
    </main>
</Layout>
