<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Room</title>
	</head>
	<body>
		<h1 class="text-red-800">Room</h1>
		<slot />
	</body>
</html>

<style>

</style>
